<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <%- include('Partials/Head') %>

<body class="dark:bg-gray-100">

    <script src="https://cdn.tailwindcss.com/"></script>

<!--    <script>-->
<!--        tailwind.config = {-->
<!--            darkMode: 'class', // or 'media' for system-based dark mode-->
<!--            // important: true,-->
<!--        }-->
<!--    </script>-->

    <%- include('Partials/Navbar') %>

    <!-- JavaScript to handle the active class -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('#navbar-navlist .nav-link');

            navItems.forEach(item => {
                item.addEventListener('click', function () {
                    // Remove active class from all nav-links
                    navItems.forEach(nav => nav.classList.remove('active'));

                    // Add active class to the clicked nav-link
                    this.classList.add('active');
                });
            });
        });
    </script>
    <!-- Main Content -->
    <main>
        <%- include(body) %>
    </main>

    <!-- Start Footer -->
        <%- include('Partials/Footer') %>
    <!-- End Footer -->
    
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top"
        class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-green-600 text-white justify-center items-center"><i
            class="uil uil-arrow-up"></i></a>
    <!-- Back to top -->

    <!-- JAVASCRIPTS -->
    <%- include('Partials/Js') %>
    <!-- JAVASCRIPTS -->


</body>

<!-- Mirrored from localhost/skutech/Hously_Landing/index.php by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Mar 2025 07:36:46 GMT -->

</html>

<script>
    // easy_background("#home",
    //     {
    //         slide: ["/Images/bg/01.jpg", "/Images/bg/02.jpg", "/Images/bg/03.jpg"],
    //         delay: [4000, 4000, 4000]
    //     }
    // );
</script>