<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('Partials/Head') %>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <!-- Mobil Menuu -->
    <%- include('Partials/MobileMenu') %>
    <!-- Navbar -->
    <%- include('Partials/Navbar') %>
    <!-- body -->
    <%- include(body) %>
    <!-- Footer -->
    <%- include('Partials/Footer') %>
    <!-- Js -->
    <%- include('Partials/Js') %>
  </body>

</html>