<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <%- include('Partials/Head') %>

<body class="dark:bg-gray-100">
    <%- include('Partials/Navbar') %>

    <!-- JavaScript to handle the active class -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navItems = document.querySelectorAll('#navbar-navlist .nav-link');

            navItems.forEach(item => {
                item.addEventListener('click', function () {
                    // Remove active class from all nav-links
                    navItems.forEach(nav => nav.classList.remove('active'));

                    // Add active class to the clicked nav-link
                    this.classList.add('active');
                });
            });
        });
    </script>
    <!-- Main Content -->
    <main>
        <%- include(body) %>
    </main>

    <!-- Start Footer -->
        <%- include('Partials/Footer') %>
    <!-- End Footer -->

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top"
        class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-green-600 text-white justify-center items-center"><i
            class="uil uil-arrow-up"></i></a>
    <!-- Back to top -->

    <!-- JAVASCRIPTS -->
    <%- include('Partials/Js') %>
    <!-- JAVASCRIPTS -->


</body>
</html>
